<div ng-controller="NavCtrl">
  <nav class="navbar navbar-default navbar-fixed-top top-bar">
    <div class="container download-progress">
      <div class="navbar-header">
        <a ng-show="!currentRepo.url" ng-disabled="!currentRepo.url" class="navbar-brand">Welcome</a>
        <a ng-show="currentRepo.url" class="navbar-brand" ng-href="{{currentRepo.url}}">{{ currentRepo.display |
          decodeURL}} <span class="glyphicon glyphicon-share-alt"></span></a>
      </div>
      <form ng-submit="add(repoUrl)" class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" ng-disabled="downloading" class="form-control" ng-model="repoUrl" placeholder="Repository URL" required>
        <span class="input-group-btn">
          <button type="submit" ng-disabled="downloading" class="btn btn-default" ng-disabled="!repoUrl">
            <span class="glyphicon glyphicon-plus"></span></button>
        </span>
        </div>
      </form>
    </div>
  </nav>
</div>
