body { padding-top: 70px; }

.interface {
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;*/
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}
div#sidebar {
  background: #f5f5f5;;
  position: fixed;
  border-right: 1px solid #bbb;
  width: 250px;
  top: 0;
  bottom: 0;
}

.readme-list-search-wrapper {
  padding: 10px 5px 10px 5px;
  background: linear-gradient( 180deg, #F7F7F7, #dddddd );
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.readme-nav {
  padding-top: 50px;
}

.readme-nav-list {
  overflow-y: auto;
  overflow-x: auto;
}

.readme-nav-list {
  font-size: 13px;
  line-height: 14px;
  margin: 5px 0 0 0;
  padding-left: 0;
  list-style-type: none;
  font-family: Lucida Grande;
}

.readme-nav-list .readme-nav-list-item {
  color: black;
  padding: 3px 0 3px 10px;
}

.readme-nav-list .readme-nav-list-item a{
  display: block;
  text-decoration: none;
  color: black;
}

.readme-nav-list .readme-nav-list-item:hover {
  background-color: #cecece;
}

.readme-nav-list .readme-nav-list-item.active {
  background-color: #afafaf;
}

.handbar {
  padding: 0 8px;
  background: linear-gradient( 180deg, #F7F7F7, #CCCCCC );
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #B3A1A1;
}

.content-nav {
  position: fixed;
  bottom: 0;
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #bbb;
}

.content-nav-list {
  margin: 0 0 16px 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  font-size: 14px;
  list-style: none;
}

.content-nav-list-item {
  padding: 3px 0 3px 10px;
}

.content-nav-list-item a{
  display: block;
  text-decoration: none;
  color: black;
}

.content-nav-list-item:nth-child(2n){
  background-color: #FFFFFF;
}

.content-nav-list-item:hover{
  background-color: #cecece;
}

.content-nav-list li.content-nav-list-item.active{
  background-color: #AC9DF2;
}

/* Content */
div#content {
  min-width: 500px;
  margin: 0 20px 20px 270px;
}

.highlighted { background: yellow }

.content-name {
  padding-left: 4px;
}
